<h1>Outfit Show Page</h1>

<%= @outfit.name %>
<br>
<% @outfit.outfit_clothings.map do |outfit| %>
    <%= outfit.clothing.img_url %>
<% end %>
<br>
<%= link_to "Main Page", outfits_path %>

<p><%= button_to "Delete This Fit?", outfit_path(@outfit), method: :delete %></p>
